* {
	font-family: Roboto;
}

.body {
	text-align: center;
	margin-top: 2.5em;
	background-color: #afc0d7;
	padding: 12px;
}

.navbar-custom {
	background-color: rgba(0, 127, 199, 0.36);	
}

.navbar-item {
	color: #ffffff !important;
}
.navbar-item:not(#OnOff):hover {
	background-color: rgba(85, 132, 191, 0.73) !important
}

#acerca:active, #links:active, #social:active {
	background-color: rgba(46, 79, 197, 0.76) !important;
}

#OnOff {
	background-color: rgba(232, 0, 0, 0.73);
	border-style: outset;
    padding: 12px;
}

#OnOff:hover {
	border-style: ridge;
}

#OnOff:active {
	border-style: inset;
}

.header, .footer, .separator{
	padding: 3%;
	background-color: #d6dde8;
}

.profile-pic {
	border-style: outset;
	border-radius: 10px;
	border-width: 10px;
	height: auto;
	max-width: 100%;
}

.name{
	font-weight: bolder;
}

.content-section{
	margin-bottom: 0;
	border-style: outset;
	border-radius: 1em;
	background-color: #f0f1f3;
}

.content {
	padding-top: 2em;
}

.social-item{
	border-style: groove;
	padding: 1%;
}

.footer	{
	border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.header-links {
	text-decoration: underline;
}
.estudiante {
	float: left;
	width: 18em;
	height: 9.5em;
	border: ridge #b9b9b9;
	margin: 5px;
	padding: 0;
}

.contenedor-img-lista{
	float: left;
	height: 100%;
}

.img-lista {
	height: 6em;
	padding: 5px;
	margin: 5px;
}

.links-lista {
	height: 25%;
	overflow: hidden;
	word-break: break-all;
}