* {
  font-family: Roboto;
}

body {
  background-color: #c3c3c3;
  padding: 12px;
}

img#profile-pic {
  border-style: outset;
  border-radius: 10px;
  border-width: 10px;
}

.header-links {
  text-decoration: underline;
}
.estudiante {
	float: left;
    width: 18em;
    height: 9.5em;
    border: ridge #b9b9b9;
    margin: 5px;
    padding: 0;
}

.contenedor-img-lista{
	float: left;
    height: 100%;
}

.img-lista {
	height: 6em;
    padding: 5px;
    margin: 5px;
}

.links-lista {
	height: 25%;
	overflow: hidden;
    word-break: break-all;
}
